In [31]:
import pandas as pd
import json

# Load JSON data
with open('Patients.json', 'r') as json_file:
    data = json.load(json_file)

# Convert JSON data to a DataFrame
df = pd.DataFrame(data)

# Save DataFrame as CSV
df.to_csv('patient.csv', index=False)



#patient.csv switch last column to first column
# Path: csv_json.ipynb
import pandas as pd
import json

# Load CSV data
df = pd.read_csv('patient.csv')
df

,First Name,Last Name,Birth date,Email,Phone,Address,PatientID
0,John,Doe,01-01-1980,johndoe@example.com,1234567890,"New York,NY",123456789
1,Jane,Smith,02-15-1990,janesmith@example.com,9876543210,"Los Angeles,CA",987654321
2,David,Johnson,03-30-1975,davidjohnson@example.com,5555555555,"Chicago,IL",555555555
3,Emily,Brown,04-20-1988,emilybrown@example.com,1111111111,"Houston,TX",111111111
4,Michael,Miller,05-10-1983,michaelmiller@example.com,9999999999,"Phoenix,AZ",999999999
5,Sophia,Davis,06-25-1995,sophiadavis@example.com,7777777777,"Philadelphia,PA",777777777
6,Daniel,Wilson,07-05-1979,danielwilson@example.com,3333333333,"San Antonio,TX",333333333
7,Olivia,Anderson,08-15-1992,oliviaanderson@example.com,6666666666,"San Diego,CA",666666666
8,Matthew,Taylor,09-13-1985,matthewtaylor@example.com,2222222222,"Dallas,TX",222222222
9,Ava,Thomas,10-29-1998,avathomas@example.com,4444444444,"San Jose,CA",444444444
10,Joseph,Martinez,11-18-1982,josephmartinez@example.com,8888888888,"Austin,TX",888888888
11,Isabella,Hernandez,12-07-1991,isabellahernandez@example.com,5555555555,"Jacksonville,FL",555555555
12,William,Garcia,01-03-1987,williamgarcia@example.com,9999999999,"San Francisco,CA",999999999
13,Mia,Lopez,02-22-1996,mialopez@example.com,7777777777,"Indianapolis,IN",777777777
14,James,Gonzalez,03-31-1981,jamesgonzalez@example.com,3333333333,"Columbus,OH",333333333
15,Charlotte,Rodriguez,04-18-1993,charlotterodriguez@example.com,6666666666,"Fort Worth,TX",666666666
16,Benjamin,Lee,05-11-1984,benjaminlee@example.com,2222222222,"Louisville,KY",222222222
17,Amelia,Walker,06-28-1997,ameliawalker@example.com,4444444444,"Charlotte,NC",444444444
18,Elijah,Hall,07-07-1978,elijahhall@example.com,8888888888,"El Paso,TX",888888888
19,Harper,Young,08-17-1989,harperyoung@example.com,5555555555,"Seattle,WA",555555555
20,Ethan,Allen,09-14-1994,ethanallen@example.com,9999999999,"Denver,CO",999999999
21,Elizabeth,King,10-31-1986,elizabethking@example.com,7777777777,"Washington,DC",777777777
22,Alexander,Wright,11-20-1999,alexanderwright@example.com,3333333333,"Memphis,TN",333333333
23,Sofia,Lopez,12-09-1980,sofialopez@example.com,6666666666,"Boston,MA",666666666
24,Daniel,Campbell,01-05-1992,danielcampbell@example.com,2222222222,"Nashville,TN",222222222
25,Avery,Perez,02-24-1983,averyperez@example.com,4444444444,"Baltimore,MD",444444444
26,Victoria,Robinson,03-28-1995,victoriarobinson@example.com,8888888888,"Oklahoma City,OK",888888888
27,Jackson,Turner,04-19-1988,jacksonturner@example.com,5555555555,"Portland,OR",555555555

In [33]:
#move PatientID to first column
cols = list(df.columns)
cols = [cols[-1]] + cols[:-1]
df = df[cols]
df
#save as csv to current directory
df.to_csv('patient.csv', index=False)
df.dtypes

Address       object
PatientID      int64
First Name    object
Last Name     object
Birth date    object
Email         object
Phone          int64
dtype: object

In [43]:
import pandas as pd
from datetime import datetime

# Load CSV data
df = pd.read_csv('patient.csv')

#convert BirthDate to datetime
df['Birth date'] = pd.to_datetime(df['Birth date'])   

df.dtypes
df.to_csv('patient.csv', index=False)

In [17]:
import pandas as pd
import json

# Load JSON data
with open('Appointment.json', 'r') as json_file:
    data = json.load(json_file)

# Convert JSON data to a DataFrame
df = pd.DataFrame(data)

# Save DataFrame as CSV
df.to_csv('Appointements.csv', index=False)

In [19]:
df.dtypes

AppointmentID     int64
PatientID         int64
DentistID         int64
Appn_Date        object
Time_start       object
Time_end         object
Procedure        object
dtype: object

In [24]:
import pandas as pd
from datetime import datetime
import time


# Load JSON data
with open('Appointment.json', 'r') as json_file:
    data = json.load(json_file)

# Convert JSON data to a DataFrame
df = pd.DataFrame(data)

# Convert Appn_Date to datetime
df['Appn_Date'] = pd.to_datetime(df['Appn_Date'])
# convert time_start and time_end with am and pm to 24 hour format
df['Time_start'] = pd.to_datetime(df['Time_start'], format='%I:%M%p').dt.time
df['Time_end'] = pd.to_datetime(df['Time_end'], format='%I:%M%p').dt.time

In [26]:
df
#save as csv to current directory
df.to_csv('Appointements.csv', index=False)

In [27]:
df

,AppointmentID,PatientID,DentistID,Appn_Date,Time_start,Time_end,Procedure
0,001,123456789,4,2022-01-01,08:00:00,09:00:00,Cleaning
1,002,987654321,2,2022-01-02,09:00:00,10:00:00,Filling
2,003,456789123,6,2022-01-03,10:00:00,11:00:00,Extraction
3,004,321654987,1,2022-01-04,11:00:00,12:00:00,Root Canal
4,005,789123456,7,2022-01-05,12:00:00,13:00:00,Teeth Whitening
5,006,654987321,3,2022-01-06,13:00:00,14:00:00,Braces
6,007,234567891,8,2022-01-07,14:00:00,15:00:00,Dental Implant
7,008,891234567,5,2022-01-08,15:00:00,16:00:00,Tooth Extraction
8,009,567891234,4,2022-01-09,16:00:00,17:00:00,Dental Crown
9,010,432109876,2,2022-01-10,08:00:00,09:00:00,Cleaning
10,011,654321098,6,2022-01-11,09:00:00,10:00:00,Filling
11,012,876543210,1,2022-01-12,10:00:00,11:00:00,Extraction
12,013,298765432,7,2022-01-13,11:00:00,12:00:00,Root Canal
13,014,678912345,3,2022-01-14,12:00:00,13:00:00,Teeth Whitening
14,015,456789012,8,2022-01-15,13:00:00,14:00:00,Braces
15,016,234567890,5,2022-01-16,14:00:00,15:00:00,Dental Implant
16,017,890123456,4,2022-01-17,15:00:00,16:00:00,Tooth Extraction
17,018,567890123,2,2022-01-18,16:00:00,17:00:00,Dental Crown
18,019,345678901,6,2022-01-19,08:00:00,09:00:00,Cleaning
19,020,901234567,1,2022-01-20,09:00:00,10:00:00,Filling
20,021,678901234,7,2022-01-21,10:00:00,11:00:00,Extraction
21,022,456789012,3,2022-01-22,11:00:00,12:00:00,Root Canal
22,023,234567890,8,2022-01-23,12:00:00,13:00:00,Teeth Whitening
23,024,890123456,5,2022-01-24,13:00:00,14:00:00,Braces
24,025,567890123,4,2022-01-25,14:00:00,15:00:00,Dental Implant
25,026,345678901,2,2022-01-26,15:00:00,16:00:00,Tooth Extraction
26,027,901234567,6,2022-01-27,16:00:00,17:00:00,Dental Crown
27,028,678901234,1,2022-01-28,08:00:00,09:00:00,Cleaning
28,029,456789012,7,2022-01-29,09:00:00,10:00:00,Filling
29,030,234567890,3,2022-01-30,10:00:00,11:00:00,Extraction
30,031,890123456,8,2022-01-31,11:00:00,12:00:00,Root Canal
31,032,567890123,5,2022-02-01,12:00:00,13:00:00,Teeth Whitening
32,033,345678901,4,2022-02-02,13:00:00,14:00:00,Braces
33,034,901234567,2,2022-02-03,14:00:00,15:00:00,Dental Implant
34,035,678901234,6,2022-02-04,15:00:00,16:00:00,Tooth Extraction
35,036,456789012,1,2022-02-05,16:00:00,17:00:00,Dental Crown
36,037,234567890,7,2022-02-06,08:00:00,09:00:00,Cleaning
37,038,890123456,3,2022-02-07,09:00:00,10:00:00,Filling
38,039,567890123,8,2022-02-08,10:00:00,11:00:00,Extraction

In [28]:
df.dtypes

AppointmentID            object
PatientID                object
DentistID                object
Appn_Date        datetime64[ns]
Time_start               object
Time_end                 object
Procedure                object
dtype: object

In [47]:
import pandas as pd
import json

# Load JSON data
with open('Dentist.json', 'r') as json_file:
    data = json.load(json_file)

# Convert JSON data to a DataFrame
df = pd.DataFrame(data)

# Save DataFrame as CSV
df.to_csv('Dentists.csv', index=False)

In [52]:
#convert DentistID to int
df['DentistID'] = df['DentistID'].astype(int)

#convert Phone to int with 9 digits
df['Phone'] = df['Phone'].astype(str).str[:9].astype(int)

df.dtypes
df.to_csv('Dentists.csv', index=False)